<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header-css">
<meta charset="UTF-8">
<title>Details | Leave</title>
</head>
<body>
	<div class="container">
	<form  th:action="@{'/manager/reject'}" th:object="${leave}" method="post">
		<table>
			<tbody>
				<tr>
					<td>Leave Id:</td>
					<td><input type="text" th:field="*{id}" th:value="${id}" readonly></td>
				</tr>
				<tr>
					<td>Applied Date: </td>
					<td><input type="text" th:field="*{appliedDate}" th:value="${appliedDate}" readonly></td>
				</tr>
				<tr>
					<td>Overseas: <input type="hidden" th:field="*{overseasTrip}" th:value="${overseasTrip}"/></td>
					<td th:text="${leave.overseasTrip} ? 'Yes' : 'No'"></td>
				</tr>
				<tr>
					<td>Overseas Contact Details (if applicable): </td>
					<td><input type="text" th:field="*{contactDetails}" th:value="${contactDetails}" readonly></td>
				</tr>
				<tr>
					<td>Start Date:</td>
					<td><input type="text" th:field="*{startDate}" th:value="${startDate}" readonly></td>
				</tr>
				<tr>
					<td>End Date: </td>
					<td><input type="text" th:field="*{endDate}" th:value="${endDate}" readonly></td>
				</tr>
				<tr>
					<td>Leave Type:</td>
					<td><input type="text" th:field="*{leaveType}" th:value="${leaveType}" readonly></td>
				</tr>
				<tr>
					<td>Reason:</td>
					<td><input type="text" th:field="*{reason}" th:value="${reason}" readonly></td>
				</tr>
				<tr>
					<td>Comments : </td>
					<td>
					<textarea rows="3" cols="20" th:field="*{comment}" th:value="${comment}"></textarea> 
					<span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
					</td>
				</tr>
				<tr>
					<td>
						<a class="btn btn-success" th:href="@{'/manager/approve/'+ ${leave.Id}}">Approve</a>
					</td>
					<td>
						<input type="hidden" th:field="*{id}" th:value="${id}">
						<input class="btn btn-danger" type="submit" value="Reject">
					</td>
				</tr>
				
			</tbody>
		</table>
	</form>
		
		<a th:href="@{'/manager/home'}">Go Back</a>
		
	</div>
</body>
</html>