<!DOCTYPE html>
<html xmlns:th = "http://thymeLeaf.org">
<head th:replace="fragments/header :: header-css">
<meta charset="UTF-8">
<title>Subordinate Leave History</title>
</head>
<body>

	<div th:replace="fragments/logged_header :: logged-header"></div>
<div th:each="subordinate,iter1: ${subordinates}">

	<h3 th:text="${subordinate.firstName + ' ' + subordinate.lastName}"></h3>
	
	<div th:each = "subLeave,iter2: ${subLeaves}" >		
		<table th:if = "${iter2.index}== ${iter1.index}" class="table table-hover table-striped cell-border">
			<tr>
				<th>Leave Id</th>
				<th>Leave Type</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Reason</th>
			</tr>
			
			<tr th:each="leave : ${subLeave}">					
				<td><a th:href="@{'/manager/sub_leave_history/view/' + ${leave.id}}"><span
								th:text="${leave.id}"></span></a></td>
				<td th:text = "${leave.leaveType}"></td>
				<td th:text ="${leave.startDate}"></td>
				<td th:text = "${leave.endDate}"></td>
				<td th:text = "${leave.reason}"></td>
			</tr>
			
			<tr >
				<td th:if="${#lists.isEmpty(subLeave)}">NA</td>
				<td th:if="${#lists.isEmpty(subLeave)}">NA</td>
				<td th:if="${#lists.isEmpty(subLeave)}">NA</td>
				<td th:if="${#lists.isEmpty(subLeave)}">NA</td>
				<td th:if="${#lists.isEmpty(subLeave)}">NA</td>
			</tr>
				
		</table>
		
		
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#leave_process_tbl').DataTable();
		} );
	</script>
</body>
</html>	