<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header-css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="fragments/logged_header :: logged-header"></div>
	<div class="container">
		<table style="margin: auto auto; height: 220px; width: 370px;">
			<tbody th:object="${form}">
				<tr>
					<td>Start Date :</td>
					<td th:text="${form.startDate}"></td>
				</tr>
				<tr>
					<td>End Date :</td>
					<td th:text="${form.endDate}"></td>
				</tr>
				<tr>
					<td>Leave Type :</td>
					<td th:text="${form.leaveType}"></td>
				</tr>
				<tr>
					<td>Reason :</td>
					<td th:text="${form.reason}"></td>
				</tr>
				<tr>
					<td>Work Dissemination :</td>
					<td th:text="${form.workDissemination}"></td>
				</tr>
				<tr>
					<td>Overseas Trip :</td>
					<td th:text="${form.overseasTrip} ? 'Yes' : 'No'"></td>
				</tr>
				<tr>
					<td>Contact Details :</td>
					<td th:text="${form.contactDetails}"></td>
				</tr>
				<tr>
					<td>Manager's comments: </td>
					<td th:text="${form.comment}"></td>
				</tr>
				
				
			</tbody>
		</table>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	

</body>
</html>