<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="footer">
	<div class="container" style="text-align: right">
		<footer>&copy;team9
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
			<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
			<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
			<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
			<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
			
			
			<script type="text/javascript">
				$(document).ready( function () {
				    $('#user_tbl').DataTable();
				    $('#holiday_tbl').DataTable();
				    $('#leave_tbl').DataTable();
				    $('#leave_process_tbl').DataTable({
				        dom: 'Bfrtip',
				        buttons: [
				          {
				        	  extend: 'csv',
				        	  text: 'Export'
				          }
				        ]
				    });
				} );
		
			</script>
		</footer>
	</div>
</div>
</body>
</html>