<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header-css">
<meta charset="UTF-8">
<title>Edit | User</title>
</head>
<body>
	<div th:replace="fragments/logged_header :: logged-header"></div>
	<div class="container">
		<h2>User Edit Form</h2>
		<div>
			<form class="form-horizontal" th:object="${user}"
				th:action="@{/admin/updateUser}" method="post">
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{userId}" />
				<input type="hidden" th:field="*{password}" />
				<div class="form-group">
					<label class="col-sm-2 control-label">First Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{firstName}" />
						<span class="error_text" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Last Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{lastName}" />
						<span class="error_text" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{email}" />
						<span class="error_text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Scheme:</label>
					<div class="col-sm-10">
						<select th:field="*{scheme}">
							<option
								th:each="s : ${T(sg.edu.nus.javalapsteam9.enums.Scheme).values()}"
								th:value="${s}" th:text="${s.scheme}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">User Roles:</label>
					<div class="col-sm-10">
						<select th:field="*{role}">
							<option
								th:each="role : ${T(sg.edu.nus.javalapsteam9.enums.Roles).values()}"
								th:value="${role}" th:text="${role.role}"></option>
						</select>
						<span class="error_text" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Join Date:</label>
					<div class="col-sm-10">
						<input type="date" th:value="${joinDate}"
						th:field="*{joinDate}"/> 
						<span class="error_text" th:if="${#fields.hasErrors('joinDate')}"
							th:errors="*{joinDate}">Join Date Error</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Annual Leave Balance:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{annualLeaveBalance}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Medical Leave Balance:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{medicalLeaveBalance}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Report To:</label>
					<div class="col-sm-10">
						<select th:field="*{reportTo}">
							<option
								th:each="m : ${managers}"
								th:value="${m.id}" th:text="${m.firstName} + ' ' + ${m.lastName}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2">
						<input type="reset" value="Clear">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>