<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header-css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="fragments/logged_header :: logged-header"></div>
	<div class="container">
		<p th:text="'Hello, ' + ${name}"></p>
		<div>
		<p>Leaves Available : </p>
		<p>Annual Leaves : <span th:text="${annual_leave}"></span></p>
		<p>Medical Leaves : <span th:text="${medical_leave}"></span></p>
		</div>
		
		<a th:href="@{/employee/leaveform}" class="btn btn-primary">New Application</a>
		
		<div style="margin-top:10px">
	        <table id="leave_tbl" class="table table-hover table-striped cell-border">
				<thead>
					<tr>
						<th>ID</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Leave Type</th>
						<th>Status</th>
						<th>Applied On</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="leave : ${leaves}">
						<td><a th:href="@{'/employee/leave/view/' + ${leave.id}}"><span
								th:text="${leave.id}"></span></a></td>
						<td th:text="${leave.startDate}"></td>
						<td th:text="${leave.endDate}"></td>
						<td th:text="${leave.leaveType}"></td>
						<td th:text="${leave.status}"></td>
						<td th:text="${leave.appliedDate}"></td>
					</tr>
					<tr th:if="${leaves.empty}">No Applications Found</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#leave_tbl').DataTable({
		        dom: 'Bfrtip',
		        buttons: [
		          'excel'
		        ]
		    });
		} );
	</script>
	
</body>
</html>